@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

div{
    animation-name:fade;
    animation-duration: 3s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a {
    text-decoration: none;
}


body{
    width: 100%;
    background-color:white;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    margin: auto;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    min-block-size: 100%;
}

img{
    width: 100%;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10000;
    line-height: calc(0.25rem + 1em + 0.25rem);
    display: block;
}
.openbtn1 {
    display: none;
}
nav.flex {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
}
.header_logobox {
    padding: 10px 30px
}
.header_logobox img {
    max-height: 18px;
    align-items: center;
}
.header_nav_lists a img {
    transition: all 0.3s;
}
.header_nav_lists {
    padding: 15px 30px
}
.flex {
    display: flex;
}
.nav_wrap ul {
    list-style: none;
}
.header_nav_lists>li>a {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color: #eb5505;
    display: block;
    padding: 0 15px;
    line-height: 4.0rem;
    border: 2px solid #eb5505;
    margin-left: 2px;
    transition: all 0.3s;
    box-sizing: border-box;
}
.header_nav_lists>li>a:hover {
    background-color: #eb5505;
    color: white;
}
.sp {
    display: none;
}
.has_child {
    position: relative;
}
.header_nav_lists>li.has_child> a {
    padding-right: 30px;
}
.cursel {
    cursor: pointer;
}
.has_child svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.has_child svg {
    fill: #eb5505;
}
.header_nav_lists li a:hover svg {
    transform: translate(0, -50%) rotate(-90deg);
    fill: white;
}
.has_child .nav_children {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 44px;
    z-index: 10000;
    width: 100%;
    display: none;
}
.nav_children li {
    background-color: white;
    border: none;
    text-align: center;
    transition: all 0.3s;
}
.nav_children li:hover {
    background-color: #EEEEEE;
}
.nav_children li a {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 10px 10px;
    text-align: left;
    color: #333;
    transition: all 0.3s;
    display: block;
}
.nav_children li a:hover {
    background-color: #EEEEEE;
}
.has_child.active .nav_children {
    transform: translate(0, 0);
}
.header_nav_lists a:hover {
    text-decoration: none;
}
.breadcrumbs {
    display: flex;
    margin-top: 74px;
    line-height: calc(0.25rem + 1em + 0.25rem);
}
.breadcrumbs {
    background-color: #686868;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: left;
    color: #fff;
}
.breadcrumbs li {
    padding-right: 1em;
    list-style: none;
    line-height: calc(0.25rem + 1em + 0.25rem);
}
.breadcrumbs * {
    color: white;
}
.breadcrumbs a {
    text-decoration: none;
}

h1{
    font-size: 0;
    width: 100%;
    margin: 0 auto;
    height: 37vw;
    background: no-repeat center center/100% url(http://www.financial-agency.com/service/wp-content/uploads/2022/10/depositaccount_pc-scaled.jpg);
}
  
/* satisfaction{----------------------------------------------------------------------- */
.satisfaction{
    display: flex;
    margin: min(6vw,5rem) auto;
    max-width: 75rem;
}
.wstext{
    font-size: min(2.6vw,2rem);
    text-align: center;
    font-weight: bold;
}
.womansearch{
    max-width: 28rem;
}
.satisfaction-text{
    width: 62.6%;
    max-width: 47rem;
    text-align: center;
    margin-top: min(4vw,3rem);
}
.satisfaction-text1{
    width: 60vw;
    max-width: 45rem;
    background-color: #F2F2F2;
    border-radius: min(2.6vw,2rem);
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 0;
}
.black1{
    font-size: min(2.9vw,2.2rem);
}
.black2{
    font-size: min(2.1vw,1.6rem);
}
.black3{
    font-size: min(3.3vw,2.5rem);
}

.satisfaction-text2{
    float: left;
    text-align: right;
    font-size: min(2.4vw,1.8rem);
    margin: min(3.3vw,2.5rem) min(2.6vw,2rem);
    font-weight: bold;
}
.satisfaction-text3 {
    display: inline-block;
    margin-top: min(1.3vw,1rem);
}
.orange1{
    color:#EB5505;
    font-weight: bold;
    font-size: min(5.3vw,4rem);
}
.orange2{
    color: #EB5505;
    font-weight: bold;
    font-size: min(10vw,8rem);
    line-height: min(12vw,9rem);
}
.caution1{
    margin: auto;
    font-size: min(2.1vw,1.6rem);
    padding-bottom: min(3.1vw,2rem);
    clear: both;
  }
  .caution1-1{
    padding-left: min(4vw,3rem);
    text-indent: max(-4vw,-3rem);
  }
  .caution1-2{
    display: inline-block;
    width: min(4vw,3rem);
    text-indent: 0;
  }
  .caution1 a{
    color: #27a4d2;
  }
  

/* accountopening{----------------------------------------------------------------------- */
/*仮申込ボタン*/
.accountopening p{
    clear: both;
    text-align: center;
    font-size: min(4vw,3rem);
}
.accountopening-btn{
    position:relative;
    background-color:#EB5505;
    border-radius: 4.8rem;
    color: white;
    max-width: 65rem;
    width: 85%;
    margin: auto;
    box-shadow: 0.7rem 0.7rem 0 0 #9F3B03;
    margin-bottom: 1rem;
}
.accountopening .link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.accountopening-btn p{
    font-size: min(6.4vw,4.8rem);
    font-weight:bold;
    letter-spacing: min(0.5vw,0.4rem);
    padding: 1rem 0;
}
/*ボタンの右の「>」*/
.btn1{
    position: relative;
}
.btn1::before { /* 背景の表示設定 */
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: min(5.8vw,3.8rem);
    width: min(6.7vw,4.4rem);
    height: min(6.7vw,4.4rem);
    border-radius: 50%; /* 角の丸み */
    background: white;
}
.btn1::after { /* くの字の表示設定 */
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: min(8.3vw,5.4rem);
    width: min(2.4vw,1.6rem);
    height: min(2.4vw,1.6rem);
    border-top: min(0.9vw,0.6rem) solid #EB5505;
    border-right: min(0.9vw,0.6rem) solid #EB5505;
    transform: rotate(45deg);
}
.accountopening{
    margin: min(8vw,6rem) 0;
}

/* telbtn----------------------------------------------------------------------- */
/*電話相談*/
.telbtn{
    position: relative;
    background-color: #EB5505;
    border-radius: 6rem;
    color: white;
    font-weight: bold;
    margin: auto;
    box-shadow: 7px 10px 0 0 #9f3b03;
    text-align: center;
    max-width: 65rem;
    width: 85%;
}
.telbtn .link2{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn2{
    font-size: min(4.8vw,3.6rem);
    padding: 1rem 0 0 min(7.7vw,5rem);
}
.btn3{
    font-size: min(4.6vw,3rem);
    padding: 0 0 1rem min(7.7vw,5rem);
}
.telicon{
    position: absolute;
    top: 0;
    left: 0;
    width: min(8.4vw,5.5rem);
    margin: min(4vw,3rem) 0 0 min(5.3vw,4rem);
  }
.teltime{
    text-align: center;
    font-size: min(3.2vw,2.4rem);
    margin: 2rem 0 3rem 0;
}
h3{
    font-weight: bold;
    font-size: min(4vw,3.0rem);
    line-height: 5.0rem;
    text-align: left;
    color: #333;
    padding-left: 8px;
    border-left: 6px solid #EB5505;
    margin-top: 7rem;
}

h6{
    text-align: right;
    font-size: min(2.6vw,2rem);
    font-weight: normal;
    margin: 0 auto;
    padding-left: 10px;
    width: min(86vw,65rem);
}


/*ポイントヘッダー*/
.pointtitle{
    width: min(93vw,70rem);
    height: min(34vw,25rem);
    margin: min(1.3vw,10rem) auto 0 auto;
    cursor: pointer;
    position: relative;
}
.pointbody{
    margin: auto;
    display: none;
}
.pointtitle::before,.pointtitle::after{
    content: "";
    display: block;
    position: absolute;
    width: min(4.6vw,3.5rem);
    height: min(0.8vw,0.6rem);
    background: rgba(218,95,41,1.0);
    transition: 0.2s ease transform;
}
.pointtitle::before{
    top:49%;
    right: 2.8%;
    transform: rotate(0deg);
}
.pointtitle::after{
    top:49%;
    right: 2.8%;
    transform: rotate(90deg);
}
.pointtitle.show::after{
    top:49%;
    right: 2.8%;
    transform: rotate(0deg);
}
.pointno{
    width: min(26vw,20rem);
    background-color: #EB5505;
    font-size: min(3.4vw,2.4rem);
    padding: min(5vw,1rem) 0;
    color: white;
    text-align: center;
    border-radius: 1rem;
    font-weight: normal;
    z-index: 10000;
    position: relative;
}
.pointtext{
    position: absolute;
    border: min(0.8vw,0.6rem) solid #EB5505;
    border-radius: 2rem;
    font-size: min(2.9vw,2.2rem);
    margin-top: max(-6vw,-3rem);
    padding: 5% 0 4.3% 24.3%;
    line-height: min(8.5vw,6rem);
    max-width: 70rem;
    width: 74%;
}
.pointtext1{
    position: absolute;
    border: min(0.8vw,0.6rem) solid #EB5505;
    border-radius: 2rem;
    font-size: min(2.9vw,2.2rem);
    margin-top: max(-6vw,-3rem);
    padding: 4% 0 2.3% 24.3%;
    max-width: 70rem;
    width: 74%;
}
.orange3{
    background-color: #EB5505;
    color: white;
    border-radius: 2rem;
    padding: 0.7% 2%;
    margin-left: 2.2%;
}
.orange4{
    color: #EB5505;
    font-weight: bold;
    font-size: min(6.8vw,4.8rem);
    display: inline-block;
}
.pointimg{
    float: left;
    width: 18%;
    margin: 1.4% 0 0 3.5%;
}

h2{
    margin: min(4vw,0.4rem) auto;
    width: 80%;
    max-width: 60rem;
    font-size: min(3.4vw,2.6rem);
    font-weight: normal;
}


/*ポイント1の表*/
.point1table1 table{
    border-collapse: collapse;
    width: 86%;
    max-width: 65rem;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    font-size: min(3vw,2rem);
}
.point1table1 th, .point1table1 td{
    padding: min(1.5vw,1rem);
    border: 1px solid rgb(25, 25, 25);
}
.point1table1 td{
    width: 20%;
}
.torange{
    background-color: #EB5505;
    color: white;
}
.tsilver{
    background-color: #BFBFBF;
    color: white;
}
.tgold{
    background-color: #EAB200;
    color: white;
}
.tpurple{
    background-color: #AA72D4;
    color: white;
}
.orange5{
    color:#EB5505;
    font-size: min(3.7vw,2.4rem);
    font-weight: bold;
}
.orange6{
    color:#EB5505;
    font-size: min(5.3vw,4rem);
    font-weight: bold;
}

.orangetitle{
    text-align: center;
    font-size: min(4vw,3rem);
    color: #EB5505;
    font-weight: bold;
    margin-top: min(6.6vw,5rem);
}
.point1transactions{
    margin: auto;
    width: 93%;
    max-width: 70rem;
    text-align: center;
}
.transaction1{
    float: left;
    line-height: min(10.6vw,8rem);
    border-radius: 50%;
    background-color: #FBE5D6;
    font-size: min(2.6vw,2rem);
    font-weight: bold;
    height: min(10.6vw,8rem);
    padding: 0 min(4vw,3rem);
    margin: min(4vw,3rem) min(1.3vw,1rem);
}
.transaction2{
    position: relative;
    float: left;
    border-radius: 50%;
    background-color: #FBE5D6;
    font-size: min(2.5vw,1.9rem);
    font-weight: bold;
    height: min(10.6vw,8rem);
    padding: 0 min(4vw,3rem);
    margin: min(4vw,3rem) min(1.3vw,1rem);
    width: min(9.3vw,7rem);
}
.transaction2 p{
    position: absolute;
    top: min(1.3vw,1rem);
}
.transaction3{
    position: relative;
    float: left;
    border-radius: 50%;
    background-color: #FBE5D6;
    font-size: min(2.5vw,1.9rem);
    font-weight: bold;
    height: min(10.6vw,8rem);
    padding: 0 min(4vw,3rem);
    margin: min(4vw,3rem) min(1.3vw,1rem);
    width: min(18.6vw,14rem);
}
.transaction3 p{
    position: absolute;
    top: min(1.3vw,1rem);
}

.clear {
    clear: left;
}
.point1text{
    width: 93%;
    max-width: 70rem;
    margin: min(1.3vw,1rem) auto;
    font-size: min(2.6vw,2rem);
}
.jibunplus{
    margin-top: min(4vw,3rem);
    margin-bottom: min(8vw,6rem);
}
.jibunplus p{
    text-align: center;
    font-size: min(3.3vw,2.5rem);
    margin: min(1.3vw,1rem);
}
.gray-btn{
    position: relative;
    background-color: #D9D9D9;
    border: min(0.13vw,0.1rem) solid #A6A6A6;
    border-radius: 4.8rem;
    color: black;
    max-width: 65rem;
    width: 85%;
    margin: auto;
}
.jibunplus .link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gray-btn p{
    font-size: min(5.3vw,4rem);
    font-weight: bold;
    letter-spacing: min(0.5vw,0.4rem);
}
.btn4{
    position: relative;
}
.btn4::before { /* 背景の表示設定 */
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: min(9vw,5.8rem);
    width: min(4.5vw,3.4rem);
    height: min(0.5vw,0.4rem);
    border-top: min(0.9vw,0.6rem) solid black;
    border-bottom: min(0.9vw,0.6rem) solid black;
}
.btn4::after { /* くの字の表示設定 */
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: min(8.3vw,5.4rem);
    width: min(2.4vw,1.6rem);
    height: min(2.4vw,1.6rem);
    border-top: min(0.9vw,0.6rem) solid black;
    border-right: min(0.9vw,0.6rem) solid black;
    transform: rotate(45deg);
}

.point2{
    clear: both;
}
.pointimg2{
    float: left;
    width: 25%;
    margin: 1.4% 0 0 2%;
}
/*ポイント2の表*/
.point2table table{
    border-collapse: collapse;
    width: 86%; 
    max-width: 65rem;
    font-size: min(3vw,2rem);
    text-align: center;
    margin: min(5vw,4rem) auto;
    white-space: nowrap;
}
.point2table th, .point2table td{
    padding: min(1.5vw,1rem);
    border: 1px solid rgb(25, 25, 25);
    width: 20%;
}
.orange7{
    background-color: #EB5505;
    color: white;
    border-radius: 2rem;
    padding: 0.7% 2%;
    /* margin-left: 2.2%; */
}
.atminfo{
    margin: auto;
    width: 73%;
    max-width: 55rem;
    text-align: center;
    font-size: min(3vw,2rem);
}
.atminfotitle{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.atminfotitle b{
    width: 75%;
}
.atminfotitle::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #535252;
    margin: 0;
}
.atminfotitle::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #535252;
    margin: 0;
}
.atminfotext{
    margin: min(5.3vw,4rem);
}
.atminfo img{
    margin-bottom: min(5.3vw,4rem);
}
.point2text{
    width: 86%;
    max-width: 65rem;
    margin: auto;
    font-size: min(3vw,2rem);
    margin-bottom: min(5.3vw,4rem);
}
.point2text p{
    margin: min(1.3vw,1rem);
}
.atmdetails{
    margin-top: min(4vw,3rem);
    margin-bottom: min(8vw,6rem);
}
.atmdetails p{
    text-align: center;
}
.atmdetails .link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.point3orange{
    color: #EB5505;
}
.point3img{
    width: 93%;
    max-width: 70rem;
    margin: min(2.6vw,2rem) auto;
    display: block;
}
.aukinri{
    /* margin-top: min(4vw,3rem);
    margin-bottom: min(8vw,6rem); */
    margin:min(8vw,6rem) auto;
}
.aukinri p{
    text-align: center;
    font-size: min(4.2vw,3.2rem);
}
.aukinri .link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* corporate----------------------------------------------------------------------- */
/*企業情報*/
.corporate-info{
    margin-top: min(13vw,10rem);
    max-width: 65rem;
    margin: auto;
  }
  .corp-table table{
    border-collapse: collapse;
    max-width: 63rem;
    margin: min(1.5vw,1rem) auto;
    text-align: left;
    font-size: min(2.4vw,1.8rem);
  }
  .corp-table th, .corp-table td{
    padding: min(1.5vw,1rem);
    border: 1px solid black;
  }
  .corp-table th{
    background-color: #E7E7E7;
    text-align: center;
    white-space: nowrap;
    width: 35%;
  }
  .corp-table ul{
    padding-left: min(3.2vw,2.4rem);
    text-align: left;
  }
  .corp-table-list1{
    list-style:none;
  }
  .corp-table-list1 li{
  padding-left:min(3.2vw,2.4rem); /* ケースによって調整する */
  text-indent:max(-3.2vw,-2.4rem); /* ケースによって調整する */
  }
  .corp-table-list1 span{
  display: inline-block;
  width: min(3.2vw,2.4rem); /* ケースによって調整する */
  text-indent: 0;
  }
  .corp-table-list2{
  list-style:none;
  }
  .corp-table-list2 li{
  padding-left:min(3.2vw,2.4rem); /* ケースによって調整する */
  text-indent:max(-3.2vw,-2.4rem); /* ケースによって調整する */
  }
  .corp-table-list2 span{
  display: inline-block;
  width: min(3.2vw,2.4rem); /* ケースによって調整する */
  text-indent: 0;
  }
  
  .disclosure{
    width: 84%;
    max-width: 63rem;
    margin: 3rem auto 15rem auto;
  }
  .disclosure p{
    font-size: min(2.6vw,2rem);
  }


/* sp----------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .sp{
      display: block;
    }
    .nav_wrap{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translate(0,-100%);
      transition: all .4s;
    }
    .nav_wrap.active {
      transform: translate(0,0);
    }
    .header_nav_lists {
      flex-wrap: wrap;
      margin-top: 60px;
    }
    .header_nav_lists li {
      width: 100%;
      border-top: 1px solid #fff;
    }
    .header_nav_lists li:last-of-type {
      border-bottom: 1px solid #fff;
    }
    .header_nav_lists>li>a {
      display: flex;
      align-items: center;
      padding: 10px 0;
      font-weight: bold;
      font-size: 1.6rem;
      text-align: center;
      color: white;
      width: 100%;
      line-height: 1rem;
      border: none;
      margin-left: 0;
      transition: all 0.3s;
    }
    .header_nav_lists>li>a>span {
      margin-right: 20px;
    }
    .has_child svg {
      transform: translate(0, -50%) rotate(-90deg);
      top: 30px;
    }
    .has_child .nav_children {
      display: flex;
      flex-direction: column;
      position: relative;
      top: auto;
      z-index: 100;
      width: 100%;
    }
    .header_nav_lists > li > a.active {
      background-color:rgba(255, 255, 255, 0.4);
      color: white;
      border-left: 4px solid #eb5505;
    }
    .nav_children li {
      background-color: transparent;
      border: none;
      text-align: left;
      transition: all 0.3s;
      padding-left: 80px;
      border-left: 4px solid #eb5505;
      position: relative;
    }
    .nav_children li::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 70px;
      color: white;
      transform: translate(0,-50%);
    }
    .nav_children svg{
      position: relative;
      top: auto;
      left: auto;
      fill: #fff;
    }
    .nav_children li a{
      display: flex;
      align-items: center;
      color: white;
    }
    .has_child svg {
      fill: #fff;
    }
    .openbtn1 {
      display: block;
      position: fixed;
      top: 0;
      right: 10px;
      z-index: 1000;
      width: 25px;
      height: 45px;
    }
    .openbtn1 span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 0;
      height: 3px;
      border-radius: 2px;
      background: #686868;
      width: 100%;
    }
    .openbtn1 span:nth-of-type(1) {
      top:15px; 
    }
    .openbtn1 span:nth-of-type(2) {
      top:23px;
    }
    .openbtn1 span:nth-of-type(3) {
      top:31px;
    }
    .openbtn1.active span {
      background-color: white;
    }
    .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 0;
      transform: translateY(6px) rotate(-45deg);
    }
    .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
    }
    .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 0;
      transform: translateY(-6px) rotate(45deg);
    }
    .header_logobox {
      padding: 12.5px 20px;
    }
    .header_logobox img {
      max-width: 244px;
    }
    h1{
        /* font-size: 0;
        width: 100%;
        margin: 0 auto; */
        height: 56vw;
        background: no-repeat center center/100% url(http://www.financial-agency.com/service/wp-content/uploads/2022/10/depositaccount_sp-scaled.jpg);
    }
    .breadcrumbs {
      margin-top: 50px;
    }
    .breadcrumbs {
      padding: 7px 10px;
      font-size: 1.2rem;
    }
    .breadcrumbs li {
      padding-right: 10px;
    }
    .merit p{
      width: 80%;
      max-width: 65rem;
      font-size: min(3.4vw,2.6rem);
    }
    .notes ul{
      font-size: min(2.6vw,2rem);
    }
  
  }
  /* /sp----------------------------------------------------------------------- */
  
  /* ---------------------------------------------------------------------------------------------- */
  
  @media screen and (min-width: 768px) and (max-width: 1019px) {
    .header_nav_lists>li.has_child> a{
      padding-right: 30px;
    }
    .header_nav_lists>li>a{
      width: auto;
      padding: 0 10px;
      font-size: 1.0rem;
    }
    .logo_icon {
      bottom: 40px;
      transform: translate(0, 0);
    }
    .header_logobox img {
    max-height: 15px;
    }
    .nav_children li a {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 10px 10px;
    text-align: left;
    display: block;
    }
  }
