@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

div{
    animation-name:fade;
    animation-duration: 3s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a {
    text-decoration: none;
  }


body{
    width: 100%;
    background-color:white;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    margin: auto;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    min-block-size: 100%;
}

img{
    width: 100%;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10000;
  line-height: calc(0.25rem + 1em + 0.25rem);
  display: block;
}
.openbtn1 {
  display: none;
}
nav.flex {
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 50;
}
.header_logobox {
  padding: 10px 30px
}
.header_logobox img {
  max-height: 18px;
  align-items: center;
}
.header_nav_lists a img {
  transition: all 0.3s;
}
.header_nav_lists {
  padding: 15px 30px
}
.flex {
  display: flex;
}
.nav_wrap ul {
  list-style: none;
}
.header_nav_lists>li>a {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  color: #eb5505;
  display: block;
  padding: 0 15px;
  line-height: 4.0rem;
  border: 2px solid #eb5505;
  margin-left: 2px;
  transition: all 0.3s;
  box-sizing: border-box;
}
.header_nav_lists>li>a:hover {
  background-color: #eb5505;
  color: white;
}
.sp {
  display: none;
}
.has_child {
  position: relative;
}
.header_nav_lists>li.has_child> a {
  padding-right: 30px;
}
.cursel {
  cursor: pointer;
}
.has_child svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}
.has_child svg {
  fill: #eb5505;
}
.header_nav_lists li a:hover svg {
  transform: translate(0, -50%) rotate(-90deg);
  fill: white;
}
.has_child .nav_children {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  z-index: 10000;
  width: 100%;
  display: none;
}
.nav_children li {
  background-color: white;
  border: none;
  text-align: center;
  transition: all 0.3s;
}
.nav_children li:hover {
  background-color: #EEEEEE;
}
.nav_children li a {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 10px 10px;
  text-align: left;
  color: #333;
  transition: all 0.3s;
  display: block;
}
.nav_children li a:hover {
  background-color: #EEEEEE;
}
.has_child.active .nav_children {
  transform: translate(0, 0);
}
.header_nav_lists a:hover {
  text-decoration: none;
}
.breadcrumbs {
  display: flex;
  margin-top: 74px;
  line-height: calc(0.25rem + 1em + 0.25rem);
}
.breadcrumbs {
  background-color: #686868;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-align: left;
  color: #fff;
}
.breadcrumbs li {
  padding-right: 1em;
  list-style: none;
  line-height: calc(0.25rem + 1em + 0.25rem);
}
.breadcrumbs * {
  color: white;
}
.breadcrumbs a {
  text-decoration: none;
}

h1{
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  height: 37vw;
  background: no-repeat center center/100% url(http://www.financial-agency.com/service/wp-content/uploads/2022/10/housingloan_PC-1-scaled.jpg);
}



/* interestrate----------------------------------------------------------------------- */
/*変動金利*/
.interestrate{
  background-color: rgba(255, 242, 204,0.4);
  width: 93%;
  max-width: 70rem;
  margin: min(4vw,3rem) auto;
  display: flex;
}
.interestrate-text{
  text-align: center;
  margin-left: min(3.3vw,2.5rem);
  margin-top: min(14vw,10rem);
  margin-bottom: min(8.6vw,6.5rem);
}
.interestrate-text1{
  font-size: min(4.6vw,3.5rem);
  font-weight: bold;
}
.interestrate-text2{
  font-size: min(2.6vw,2rem);
  font-weight: normal;
}

/*au金利優遇割なら*/
.interestrate-right{
  max-width: 44rem;
  margin-left: min(2.8vw,2rem);
}
.interestrate h4{
  color: white;
  font-size: min(3.2vw,2.4rem);
  font-weight: normal;
  margin-top: min(4vw,3rem);
  width: min(42vw,32rem);
  border-radius: 3rem;
  text-align: center;
  background-color: #EB5505;
}
.interestrate-right p{
  text-align: right;
  font-size: min(2.8vw,2rem);
  font-weight: normal;
}
.orange{
  margin-top: min(2.6vw,2rem);
  display: inline-block;
}
.orange1{
  color: white;
  background-color: #EB5505;
  border-radius: 50%;
  font-size: min(4vw,3rem);
  padding: min(1.4vw,1rem);
  transform: scale(1,0.8);
  display: inline-block;
}
.orange2{
  font-size: min(12.5vw,9.4rem);
  color: #EB5505;
  font-weight: bold;
  transform: scale(1, 1.2);
  display: inline-block;
  line-height: min(13vw,10rem);
}
.orange3{
  font-size: min(7.3vw,5.5rem);
  color: #EB5505;
  font-weight: bold;
  transform: scale(1, 1.3);
  display: inline-block;
}
.orange sup{
  vertical-align: top;
  position: absolute;
  margin-left: max(-5.3vw,-4rem);
}
.interestrate-text3{
  text-align: right;
}

/* caution */
.caution1{
  margin: auto;
  width: min(80vw,60rem);
  font-size: min(2.1vw,1.6rem);
  padding-bottom: min(3.1vw,2rem);
}
.caution1-1{
  padding-left: min(4vw,3rem);
  text-indent: max(-4vw,-3rem);
}
.caution1-2{
  display: inline-block;
  width: min(4vw,3rem);
  text-indent: 0;
}
.caution1 a{
  color: #27a4d2;
}

h6{
  text-align: right;
  font-size: min(2.6vw,2rem);
  font-weight: normal;
  margin: 0 auto min(5.6vw,4rem) auto;
  width: 90vw;
  max-width: 68rem;
}


/* examination----------------------------------------------------------------------- */
/*仮申込ボタン*/
.examination{
  margin-top:min(6vw,5rem);
  max-width: 75rem;
  margin: auto;
}
.examination p{
  clear: both;
  text-align: center;
  font-size: min(4vw,3rem);
}
.examination-btn{
  position:relative;
  background-color:#EB5505;
  border-radius: 4.8rem;
  color: white;
  max-width: 65rem;
  width: 86%;
  margin: auto;
  box-shadow: 0.7rem 0.7rem 0 0 #9F3B03;
  margin-bottom: 1rem;
}
.examination .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.examination-btn p{
  font-size: min(4.8vw,3.6rem);
  font-weight:bold;
  letter-spacing: min(0.5vw,0.4rem);
  padding: 1rem 0;
}
/*ボタンの右の「>」*/
.btn1{
  position: relative;
}
.btn1::before { /* 背景の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: min(3.8vw,2.5rem);
  width: min(6.7vw,4.4rem);
  height: min(6.7vw,4.4rem);
  border-radius: 50%; /* 角の丸み */
  background: white;
}
.btn1::after { /* くの字の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: min(6.1vw,4rem);
  width: min(2.4vw,1.6rem);
  height: min(2.4vw,1.6rem);
  border-top: min(0.9vw,0.6rem) solid #EB5505;
  border-right: min(0.9vw,0.6rem) solid #EB5505;
  transform: rotate(45deg);
}

/* telbtn----------------------------------------------------------------------- */
/*電話相談*/
.telbtn{
  position: relative;
  background-color: #EB5505;
  border-radius: 6rem;
  color: white;
  font-weight: bold;
  margin: 2rem auto;
  box-shadow: 7px 10px 0 0 #9f3b03;
  text-align: center;
  max-width: 65rem;
  width: 85%;
}
.telbtn .link2{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn2{
  font-size: min(4.8vw,3.6rem);
  padding: 1rem 0 0 min(7.7vw,5rem);
}
.btn3{
  font-size: min(4.6vw,3rem);
  padding: 0 0 1rem min(7.7vw,5rem);
}
.telicon{
  position: absolute;
  top: 0;
  left: 0;
  width: min(8.4vw,5.5rem);
  margin: min(4vw,3rem) 0 0 min(5.3vw,4rem);
}
.teltime{
  text-align: center;
  font-size: min(3.2vw,2.4rem);
  margin: 2rem 0 3rem 0;
}

/* merit----------------------------------------------------------------------- */
h3{
  font-weight: bold;
  font-size: min(4vw,3.0rem);
  line-height: 5.0rem;
  text-align: left;
  color: #333;
  padding-left: 8px;
  border-left: 6px solid #EB5505;
  margin-top: 7rem;
}
.merit{
  width: 93vw;
  max-width: 70rem;
  margin: min(6vw,5rem) auto;
}
.merit img{
  width: 100%;
  margin-top: 2rem;
}
.merit p{
  margin: auto;
  max-width: 75rem;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: min(6.6vw,5rem);
  margin-top: min(1.3vw,1rem);
}
.annotation{
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.4rem!important;
  line-height: 1.9rem;
  text-align: right!important;
  width: 100%!important;
}

h2{
  margin: auto;
  width: 80%;
  max-width: 65rem;
  font-size: min(3.4vw,2.6rem);
  font-weight: normal;
  margin-bottom: min(6.6vw,5rem);
  margin-top: min(1.3vw,1rem);
}


/* simulation----------------------------------------------------------------------- */
.simulation p{
  clear: both;
  text-align: center;
  font-size: min(4vw,3rem);
}
.simulation-btn{
  position: relative;
  background-color: #EB5505;
  border-radius: 4.8rem;
  color: white;
  max-width: 65rem;
  width: 85%;
  margin: auto;
  box-shadow: 0.7rem 0.7rem 0 0 #9f3b03;
  margin-bottom: 1rem;
}
.simulation .link2{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.simulation-btn p{
  font-size: min(4.5vw,3.4rem);
  font-weight: bold;
  padding: 1rem 0;
}
.calculator{
  position: absolute;
  top: 0;
  left: 0;
  width: min(4.2vw,3rem);
  margin: min(2.8vw,1.2rem) 0 0 min(6vw,4.5rem);
}
.simulation{
  margin-bottom: min(4.5vw,3.4rem);
}



/* point----------------------------------------------------------------------- */
/*ポイントヘッダー*/
.pointtitle{
  width: min(93vw,70rem);
  height: min(34vw,25rem);
  margin: min(1.3vw,10rem) auto 0 auto;
  cursor: pointer;
  position: relative;
}
.pointbody{
  margin: auto;    
  margin-bottom: min(15vw,10rem);
  display: none;
}
.pointtitle::before,.pointtitle::after{
  content: "";
  display: block;
  position: absolute;
  width: min(4.6vw,3.5rem);
  height: min(0.8vw,0.6rem);
  background: #EB5505;
  transition: 0.2s ease transform;
}
.pointtitle::before{
  top:49%;
  right: 2.8%;
  transform: rotate(0deg);
}
.pointtitle::after{
  top:49%;
  right: 2.8%;
  transform: rotate(90deg);
}
.pointtitle.show::after{
  top:49%;
  right: 2.8%;
  transform: rotate(0deg);
}
.pointno{
  width: min(26vw,20rem);
  background-color: #EB5505;
  font-size: min(3.4vw,2.4rem);
  padding: min(5vw,1rem) 0;
  color: white;
  text-align: center;
  border-radius: 1rem;
  font-weight: normal;
  z-index: 9000;
  position: relative;
}
.pointtext1{
  position: absolute;
  border: min(0.8vw,0.6rem) solid #EB5505;
  border-radius: 2rem;
  font-size: min(2.9vw,2.2rem);
  margin-top: max(-6vw,-3rem);
  padding-left: 24.3%;
  line-height: min(24.5vw,18.5rem);
  max-width: 70rem;
  width: 74%;
}
.pointtext2{
  position: absolute;
  border: min(0.8vw,0.6rem) solid #EB5505;
  border-radius: 2rem;
  font-size: min(2.9vw,2.2rem);
  margin-top: max(-6vw,-3rem);
  padding: 5% 0 4.3% 24.3%;
  line-height: min(8.5vw,6rem);
  max-width: 70rem;
  width: 74%;
}
.dot-text{
  position: relative;
}
.dot-text::before{
  position: absolute;
  top: max(-1.6vw,-1.2rem);
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  padding-top: 1.5rem;
  background: -webkit-radial-gradient(circle min(0.6vw,0.5rem),black 50%,transparent 50%);
  background: radial-gradient(circle min(0.6vw,0.5rem),black 50%,transparent 50%);
  background: -moz-radial-gradient(circle min(0.6vw,0.5rem),black 50%,transparent 50%);
}
.orange4{
  color: #EB5505;
  font-weight: bold;
  font-size: min(5.1vw,3.6rem);
  display: inline-block;
}
.pointimg{
  float: left;
  width: 18%;
  margin: 1.4% 0 0 3.5%;
}

/*ポイント1の表*/
.point1table table{
  border-collapse: collapse;
  width: 86%;
  max-width: 65rem;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  font-size: min(3vw,2rem);
}
.point1table th,.point1table td{
  padding: min(1.5vw,1rem);
  border: 1px solid rgb(25, 25, 25);
}
.point1table th{
  background-color:rgb(127, 127, 127);
  color: white;
}
.th1{
  font-size: min(5.5vw,3.6rem);
  line-height:1;
}
.th2{
  font-size: min(3vw,2rem);
  font-weight: normal;
}
.torange{
  color: #EB5505;
  font-size: min(6.7vw,4.4rem);
  font-weight: bolder;
  transform: scale(1, 1.2);
  display: inline-block;
}
.point1table sup{
  vertical-align: top;
}
.point1text{
  border: 3px solid #EB5505;
  margin: auto;
  width: 86%;
  max-width: 65rem;
  font-size: min(5.5vw,3.6rem);
  padding: 10px;
}
.point1text ul{
  margin-left: min(6.1vw,4rem);
  font-size: min(4.6vw,3rem);
}

.pointimg2{
  float: left;
  width: 25%;
  margin: 1.4% 0 0 2%;
}
.point2top{
  max-width: 66rem;
  width: 88%;
  display: flex;
  margin: auto;
}
.point2toptext{
  width: 55%;
  font-size: min(3.4vw,2.6rem);
}
.point2topimg{
  width: 45%;
}
.point2subtitle{
  margin: min(4vw,3rem) auto;
  width: 86%;
  max-width: 65rem;
  background-color: #F2F2F2;
  border-radius: 1rem;
}
.point2subtitle p{
  display: inline-block;
}
.point2notext{
  font-size: min(4.5vw,3.4rem);
  text-align: left;
  padding: min(2.6vw,1rem) min(4.6vw,3rem);
}
.right0en{
  color: #EB5505;
  font-size: min(6.9vw,4.5rem);
  font-weight: bolder;
  float: right;
  padding: 0 min(3vw,2rem);
}

.point2 h2{
  margin-bottom: min(2.6vw,2rem);
}


.point2table{
  margin-bottom: min(3vw,2rem);;
}
.point2table table{
  border-collapse: collapse;
  width: 86%; 
  max-width: 65rem;
  margin:auto;
  text-align: center; 
  white-space: nowrap;
  font-size: min(3vw,2rem);
}
.point2table th,.point2table td{
  padding: min(1.5vw,1rem);
  border: 1px solid rgb(25, 25, 25);
}
.merging3{
  border-top: 0px!important;
  border-left: 0px!important;
}
.point2table ul{
  padding-left: min(3vw,2rem);
  text-align: left;
  font-size: min(3.6vw,2.4rem);
}
.torange2{
  color:#EB5505;
  font-size: min(3.6vw,2.4rem);
  font-weight: bolder;
}
.tblack3{
  font-weight: bold;
  font-size: min(4.3vw,2.8rem);
}
.th4{
  background-color: #7F7F7F;
  color: white;
  font-weight: normal;
  height: min(6.6vw,5rem);
}

.caution2{
  width: 80%;
  max-width: 60rem;
  margin: auto;
  font-size: min(2.1vw,1.6rem);
}
.caution2-1{
  padding-left: min(6.6vw,4rem);
  text-indent: max(-6.6vw,-4rem);
}
.caution2-2{
  display: inline-block;
  width: min(6.6vw,4rem);
  text-indent: 0;
}


.steptitle{
  background-color: #FBE5D6;
  width: 82%;
  max-width: 62rem;
  margin: auto;
  text-align: center;
  font-size: min(2.4vw,1.8rem);
  padding: min(1.6vw,1rem) 0;
  position: relative;
}
.stepno{
  font-size: min(1.8vw,1.4rem);
  background-color: #EB5505;
  color: white;
  border-radius: 1.4rem;
  width: min(16vw,12rem);
  text-align: center;
  float: left;
  margin-left: min(2.6vw,2rem);
  padding: min(0.4vw,0.3rem) 0;
  position: relative;
}
.stepturn1{
  position: absolute;
  top: 0;
  left: 8.6%;
  width: min(6.6vw,5rem);
  height: 90%;
  background-color: #FBE5D6;
  z-index: -10000;
}
.stepturn2{
  position: absolute;
  border: min(5.6vw,4.2rem) solid;
  border-color: #FBE5D6 transparent transparent transparent;
  top: 90%;
  left: 6.2%;
}
.step-wrapper{
  position: relative;
  max-width: 75rem;
  margin: auto;
}
.stepblock{
  margin: min(2.6vw,2rem) auto;
  max-width: 73rem;
  width: 97%;
}
.steptext{
  margin-left: 1.5rem;
  padding: min(1.3vw,1rem) min(2.6vw,2rem);
  width: 64%;
  max-width: 48rem;
  background-color: #F2F2F2;
  font-size: min(2.6vw,2rem);
  position: relative;
  display: inline-block;
}
.steptext1{
  font-weight: bold;
}
.steptext2{
  font-weight: normal;
  font-size: min(2.2vw,16px);
}
.orange5{
  color: #EB5505;
}
.steptext3{
  font-size: min(1.3vw,1rem);
}
.stepend{
  background-color: #FBE5D6;
  width: 86%;
  max-width: 65rem;
  margin: auto;
  text-align: center;
  font-size: min(4vw,3rem);
  padding: min(1.3vw,1rem);
  font-weight: bold;
  margin-bottom: min(4vw,3rem) ;
}

/* corporate----------------------------------------------------------------------- */
/*企業情報*/
.corporate-info{
  margin-top: min(13vw,10rem);
  max-width: 65rem;
  margin: auto;
}
.corp-table table{
  border-collapse: collapse;
  max-width: 63rem;
  margin: min(1.5vw,1rem) auto;
  text-align: left;
  font-size: min(2.4vw,1.8rem);
}
.corp-table th, .corp-table td{
  padding: min(1.5vw,1rem);
  border: 1px solid black;
}
.corp-table th{
  background-color: #E7E7E7;
  text-align: center;
  white-space: nowrap;
  width: 35%;
}
.corp-table ul{
  padding-left: min(3.2vw,2.4rem);
  text-align: left;
}
.corp-table-list1{
  list-style:none;
}
.corp-table-list1 li{
padding-left:min(3.2vw,2.4rem); /* ケースによって調整する */
text-indent:max(-3.2vw,-2.4rem); /* ケースによって調整する */
}
.corp-table-list1 span{
display: inline-block;
width: min(3.2vw,2.4rem); /* ケースによって調整する */
text-indent: 0;
}
.corp-table-list2{
list-style:none;
}
.corp-table-list2 li{
padding-left:min(3.2vw,2.4rem); /* ケースによって調整する */
text-indent:max(-3.2vw,-2.4rem); /* ケースによって調整する */
}
.corp-table-list2 span{
display: inline-block;
width: min(3.2vw,2.4rem); /* ケースによって調整する */
text-indent: 0;
}

.disclosure{
  width: 84%;
  max-width: 63rem;
  margin: 3rem auto 15rem auto;
}
.disclosure p{
  font-size: min(2.6vw,2rem);
}

/* notes----------------------------------------------------------------------- */
.notes{
  max-width: 70rem;
  margin: auto;
}
.notes ul{
  width: 86%;
  max-width: 65rem;
  margin: 2rem auto 5rem auto;
  font-size: 1.4rem;
}
.notes a{
  color: #27a4d2;
}
.list_title{
  margin: 2rem 0 1rem -2.5rem;
  display: block;
  font-weight: bold;
}
.list_title_reversed{
  padding: 0 0 2.5rem 0em;
  display: block;
  font-weight: bold;
}

/* gotop----------------------------------------------------------------------- */
.gotop-btn{
  position:relative;
  background-color:#A6A6A6;
  border-radius: 4.8rem;
  color: white;
  max-width: 65rem;
  width: 85%;
  margin: auto;
  box-shadow: 0.7rem 0.7rem 0 0 #9F3B03;
  margin-bottom: 1rem;
  margin-bottom: 5rem;
}
.gotop-btn p{
  text-align: center;
  font-size: min(4.8vw,3.6rem);
  font-weight:bold;
  letter-spacing: min(0.5vw,0.4rem);
  padding: 1rem 0;
}
.gotop-btn .link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#aumobile{
padding-top: 17px;
margin-top: -17px!important;
}
#jibundenki{
padding-top: 17px;
margin-top: -17px!important;
}


/* sp----------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .sp{
    display: block;
  }
  .nav_wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(0,-100%);
    transition: all .4s;
  }
  .nav_wrap.active {
    transform: translate(0,0);
  }
  .header_nav_lists {
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .header_nav_lists li {
    width: 100%;
    border-top: 1px solid #fff;
  }
  .header_nav_lists li:last-of-type {
    border-bottom: 1px solid #fff;
  }
  .header_nav_lists>li>a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 1rem;
    border: none;
    margin-left: 0;
    transition: all 0.3s;
  }
  .header_nav_lists>li>a>span {
    margin-right: 20px;
  }
  .has_child svg {
    transform: translate(0, -50%) rotate(-90deg);
    top: 30px;
  }
  .has_child .nav_children {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    z-index: 100;
    width: 100%;
  }
  .header_nav_lists > li > a.active {
    background-color:rgba(255, 255, 255, 0.4);
    color: white;
    border-left: 4px solid #eb5505;
  }
  .nav_children li {
    background-color: transparent;
    border: none;
    text-align: left;
    transition: all 0.3s;
    padding-left: 80px;
    border-left: 4px solid #eb5505;
    position: relative;
  }
  .nav_children li::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 70px;
    color: white;
    transform: translate(0,-50%);
  }
  .nav_children svg{
    position: relative;
    top: auto;
    left: auto;
    fill: #fff;
  }
  .nav_children li a{
    display: flex;
    align-items: center;
    color: white;
  }
  .has_child svg {
    fill: #fff;
  }
  .openbtn1 {
    display: block;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 1000;
    width: 25px;
    height: 45px;
  }
  .openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: #686868;
    width: 100%;
  }
  .openbtn1 span:nth-of-type(1) {
    top:15px; 
  }
  .openbtn1 span:nth-of-type(2) {
    top:23px;
  }
  .openbtn1 span:nth-of-type(3) {
    top:31px;
  }
  .openbtn1.active span {
    background-color: white;
  }
  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 0;
    transform: translateY(6px) rotate(-45deg);
  }
  .openbtn1.active span:nth-of-type(2) {
  opacity: 0;
  }
  .openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 0;
    transform: translateY(-6px) rotate(45deg);
  }
  .header_logobox {
    padding: 12.5px 20px;
  }
  .header_logobox img {
    max-width: 244px;
  }
  h1{
    /* font-size: 0;
    width: 100%;
    margin: 0 auto; */
    height: 59.2vw;
    background: no-repeat center center/100% url(http://www.financial-agency.com/service/wp-content/uploads/2022/10/housingloan_SP-scaled.jpg);
  }
  .breadcrumbs {
    margin-top: 50px;
  }
  .breadcrumbs {
    padding: 7px 10px;
    font-size: 1.2rem;
  }
  .breadcrumbs li {
    padding-right: 10px;
  }
  .merit p{
    width: 80%;
    max-width: 65rem;
    font-size: min(3.4vw,2.6rem);
  }
  .notes ul{
    font-size: min(2.6vw,2rem);
  }

}
/* /sp----------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1019px) {
  .header_nav_lists>li.has_child> a{
    padding-right: 30px;
  }
  .header_nav_lists>li>a{
    width: auto;
    padding: 0 10px;
    font-size: 1.0rem;
  }
  .logo_icon {
    bottom: 40px;
    transform: translate(0, 0);
  }
  .header_logobox img {
  max-height: 15px;
  }
  .nav_children li a {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 10px 10px;
  text-align: left;
  display: block;
  }
}
